<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhihui.dao.ReplyMapper">
  <resultMap id="BaseResultMap" type="com.zhihui.entity.Reply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="rcontent" jdbcType="VARCHAR" property="rcontent" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, cid, rcontent, parentid, reply_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_reply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_reply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhihui.entity.Reply">
    insert into t_reply (id, uid, cid, 
      rcontent, parentid, reply_time
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, 
      #{rcontent,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, #{replyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhihui.entity.Reply">
    insert into t_reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="rcontent != null">
        rcontent,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="replyTime != null">
        reply_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="rcontent != null">
        #{rcontent,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null">
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhihui.entity.Reply">
    update t_reply
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="rcontent != null">
        rcontent = #{rcontent,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null">
        reply_time = #{replyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhihui.entity.Reply">
    update t_reply
    set uid = #{uid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER},
      rcontent = #{rcontent,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      reply_time = #{replyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findReplyByCid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_reply
    where cid = #{cid,jdbcType=INTEGER}
  </select>
</mapper>