<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhihui.dao.StrategyMapper">
  <resultMap id="BaseResultMap" type="com.zhihui.entity.Strategy">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="collectioncount" jdbcType="INTEGER" property="collectioncount" />
    <result column="commentcount" jdbcType="INTEGER" property="commentcount" />
    <result column="strategytitle" jdbcType="VARCHAR" property="strategytitle" />
    <result column="readingcount" jdbcType="INTEGER" property="readingcount" />
    <result column="deploytime" jdbcType="TIMESTAMP" property="deploytime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>


  <resultMap id="BaseResultMap1" type="com.zhihui.entity.Strategy">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="collectioncount" jdbcType="INTEGER" property="collectioncount" />
    <result column="commentcount" jdbcType="INTEGER" property="commentcount" />
    <result column="strategytitle" jdbcType="VARCHAR" property="strategytitle" />
    <result column="readingcount" jdbcType="INTEGER" property="readingcount" />
    <result column="deploytime" jdbcType="TIMESTAMP" property="deploytime" />
    <result column="content" jdbcType="VARCHAR" property="content" />

    <association property="user"
                 resultMap="com.zhihui.dao.UserMapper.BaseResultMap"
    >
    </association>

    <association property="userDetail"
                resultMap="com.zhihui.dao.UserDetailMapper.BaseResultMap"
    >
    </association>

    <collection property="strategyImages"
                resultMap="com.zhihui.dao.StrategyImagesMapper.BaseResultMap"
    >
    </collection>

  </resultMap>


  <sql id="Base_Column_List">
    id, uid, collectioncount, commentcount, strategytitle, readingcount, deploytime, 
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_strategy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_strategy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhihui.entity.Strategy">
    insert into t_strategy (id, uid, collectioncount, 
      commentcount, strategytitle, readingcount, 
      deploytime, content)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{collectioncount,jdbcType=INTEGER}, 
      #{commentcount,jdbcType=INTEGER}, #{strategytitle,jdbcType=VARCHAR}, #{readingcount,jdbcType=INTEGER}, 
      #{deploytime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhihui.entity.Strategy">
    insert into t_strategy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="collectioncount != null">
        collectioncount,
      </if>
      <if test="commentcount != null">
        commentcount,
      </if>
      <if test="strategytitle != null">
        strategytitle,
      </if>
      <if test="readingcount != null">
        readingcount,
      </if>
      <if test="deploytime != null">
        deploytime,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="collectioncount != null">
        #{collectioncount,jdbcType=INTEGER},
      </if>
      <if test="commentcount != null">
        #{commentcount,jdbcType=INTEGER},
      </if>
      <if test="strategytitle != null">
        #{strategytitle,jdbcType=VARCHAR},
      </if>
      <if test="readingcount != null">
        #{readingcount,jdbcType=INTEGER},
      </if>
      <if test="deploytime != null">
        #{deploytime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhihui.entity.Strategy">
    update t_strategy
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="collectioncount != null">
        collectioncount = #{collectioncount,jdbcType=INTEGER},
      </if>
      <if test="commentcount != null">
        commentcount = #{commentcount,jdbcType=INTEGER},
      </if>
      <if test="strategytitle != null">
        strategytitle = #{strategytitle,jdbcType=VARCHAR},
      </if>
      <if test="readingcount != null">
        readingcount = #{readingcount,jdbcType=INTEGER},
      </if>
      <if test="deploytime != null">
        deploytime = #{deploytime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhihui.entity.Strategy">
    update t_strategy
    set uid = #{uid,jdbcType=INTEGER},
      collectioncount = #{collectioncount,jdbcType=INTEGER},
      commentcount = #{commentcount,jdbcType=INTEGER},
      strategytitle = #{strategytitle,jdbcType=VARCHAR},
      readingcount = #{readingcount,jdbcType=INTEGER},
      deploytime = #{deploytime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findOneStratey" parameterType="java.lang.Integer" resultMap="BaseResultMap1">
    SELECT * FROM t_strategy s
    INNER JOIN t_user u ON s.uid=u.id
    INNER JOIN t_user_detail d ON d.uid=u.id
    INNER JOIN t_strategy_images i on i.sid=s.id
    WHERE s.id=#{id}

  </select>


</mapper>